* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}
h2,
h3 {
  margin-bottom: 2rem;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(34, 33, 33);
}
form {
  border: 1px solid rgb(0, 153, 219, 0.9);
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  box-shadow: 0.2rem 0.4rem 1rem rgb(0, 153, 219, 0.9);
}
i {
  font-size: 4rem;
  margin-bottom: 0.8rem;
  /* color: rgb(0, 153, 219, 0.9); */
}
fieldset {
  margin-bottom: 1rem;
  width: 70%;
  border: none;
}
.text {
  width: 100%;
  padding: 0.6rem 0rem 0.6rem 0.4rem;
  font-size: 1rem;
  border-radius: 8px;
  color: white;
  border: 1px solid rgb(0, 153, 219, 0.9);
  outline: none;
  background-color: transparent;
}

.term {
  font-size: 0.64rem;
}
/* .text::placeholder {
  color: rgb(0, 153, 219, 0.9);
} */

button {
  width: 70%;
  margin-bottom: 15px;
  padding: 0.4rem 0;
  background-color: rgb(0, 153, 219, 0.9);
  border: 2px solid white;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
}

span a {
  color: rgb(0, 153, 219, 0.9);
  text-decoration: none;
  margin-top: 1rem;
}

.check {
  display: flex;
  justify-content: center;
  align-items: center ;
  gap: 5px;
}

.last{
  font-size:0.8rem
}








